<div class="block  ms-3">
    <div class="block-heading">
        <h2>Create new Customer or select an existing one</h2>
        <span>Some text goes here. Probably sub heading.</span>
    </div>
    <div class="block-search">
        <div class="input-group flex-nowrap w-50">
      <span class="input-group-text" id="addon-wrapping">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
             fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
          <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/></svg></span>
            <input type="text" class="form-control " placeholder="Username" aria-label="Username"
                   aria-describedby="addon-wrapping">
        </div>
    </div>

    <div class="block-cards">

        <div class="card create-card">
            <div class="create-btn">
                <img src="https://cdn-icons-png.flaticon.com/512/1828/1828817.png" alt="">
                <span>Create a new Customer</span>
            </div>
        </div>

        <ng-container *ngFor="let item of cards">
            <div class="card" [ngStyle]="{'border-top':'4px solid ' + item.border_color}">
                <div class="card-head">
                    <div class="head-icon align">
                        <img [src]="item.icon" [alt]="item.title">
                    </div>
                    <div class="head-title">
                        <h4>{{item.title}}</h4>
                        <span>{{item.subTitle}}</span>
                    </div>
                </div>
                <div class="card-description">
                    <span>{{item.description}}</span>
                </div>
            </div>
        </ng-container>

    </div>

</div>
